[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-admin = "*"
flask-login = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
pydantic = "*"
openai = "*"
flask-mail = "*"
passlib = {extras = ["bcrypt"], version = "*"}
werkzeug = "*"
flask-ngrok = "*"
numpy = "*"
opencv-python = "*"
pyttsx3 = "*"
dotenv-python = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
