{% extends 'base.html' %}
{% block content %}
<!-- component -->
<div id="top" class="py-16 bg-white">  
    <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
        <div class="space-y-6 md:space-y-0 md:flex md:gap-6 lg:items-center lg:gap-12">
          <div class="md:5/12 lg:w-5/12">
            <img src="https://tailus.io/sources/blocks/left-image/preview/images/startup.png" alt="image" loading="lazy" width="" height="">
          </div>
          <div class="md:7/12 lg:w-6/12">
            <h2 class="text-2xl text-gray-900 font-bold md:text-4xl">Welcome to BaymexGPT!</h2>
            <p class="mt-6 text-gray-600">Welcome to BaymexGPT, where the boundaries of artificial intelligence and language generation are pushed to new frontiers. Our project is dedicated to providing cutting-edge language models and innovative solutions for a wide range of applications.</p>
            <p class="mt-4 text-gray-600"> BaymexGPT is powered by state-of-the-art algorithms and deep learning techniques, enabling it to generate human-like text and engage in natural and meaningful conversations. Whether you're looking for assistance with content creation, language translation, or even interactive storytelling, BaymexGPT is here to transform your ideas into reality.</p>
          </div>
        </div>
    </div>
  </div>
{% endblock %}