{% extends 'base.html' %}
{% block content %}
  <section class="text-gray-600 body-font relative">
    <div class="container px-5 py-24 mx-auto flex sm:flex-nowrap flex-wrap">
      <div class="map lg:w-2/3 md:w-1/2 bg-gray-300 rounded-lg overflow-hidden sm:mr-10 p-10 flex items-end justify-start relative">
        <iframe width="100%" height="100%" class="absolute inset-0" frameborder="0" title="map" marginheight="0" marginwidth="0" scrolling="no" src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d49625.848435015054!2d77.35759625742624!3d28.48936648613012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjjCsDI5JzU3LjkiTiA3N8KwMTknNDMuNCJF!5e0!3m2!1sen!2sin!4v1684440197455!5m2!1sen!2sin" style="filter: grayscale(1) contrast(1.2) opacity(0.4);"></iframe>
        <div class="bg-white relative flex flex-wrap py-6 rounded shadow-md">
          <div class="lg:w-1/2 px-6">
            <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs">ADDRESS</h2>
            <p class="mt-1">B-153/A Harsh Vihar, Hari Nagr, EXTN-3rd, Badarpur, New Delhi - 110044</p>
          </div>
          <div class="lg:w-1/2 px-6 mt-4 lg:mt-0">
            <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs">EMAIL</h2>
            <a class="text-indigo-500 leading-relaxed">suryapratap8562@gmail.com</a>
            <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs mt-4">PHONE</h2>
            <p class="leading-relaxed">+91 85120 68247</p>
          </div>
        </div>
      </div>
      <div class="box1 lg:w-1/3 md:w-1/2 bg-white flex flex-col justify-center md:ml-auto w-full md:py-8 mt-8 md:mt-0">
        <h2 class="text-gray-900 text-2xl mb-1 font-semibold title-font">📞 Contact Us</h2>

        <p class="leading-relaxed mb-5 text-gray-600">Feel Free to ask any query from us!</p>
        <div class="relative mb-4">
          <label for="name" class="leading-7 text-sm text-gray-600">Name</label>
          <input id="nameInput" type="text" id="name" name="name" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="relative mb-4">
          <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
          <input id="emailInput" type="email" id="email" name="email" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="relative mb-4">
          <label for="phone" class="leading-7 text-sm text-gray-600">Phone</label>
          <input id="phoneInput" type="number" id="phone" name="phone" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="relative mb-4">
          <label for="message" class="leading-7 text-sm text-gray-600">Message</label>
          <textarea id="messageInput" id="message" name="message" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
        </div>
        <button id="Button" class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Send Message</button>
        <p class="text-xs text-gray-500 mt-3">We'll try to contact you as soon as possible 😇.</p>
      </div>

      <div style="display: none;" class="box2 lg:w-1/3 md:w-1/2 bg-white flex flex-col justify-center items-center md:ml-auto w-full md:py-8 mt-8 md:mt-0">
        <h1 class="text-gray-900 text-2xl mb-1 font-semibold title-font">Thanks for Contacting with Us</h1>
        <p class="text-md text-gray-500 mt-3">We'll try to contact you as soon as possible 😇.</p>
      </div>

    </div>
  </section>
  <script>

async function postData(url = "", data = {}) {
        const response = await fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        });
        return response.json();
    }

    // Get the data from the id-'submitButton' of Image, About, Profession, Company, Country, Address, City, State and Pincode
    const Button = document.getElementById("Button");

    // Set the submit button to submit the form
    Button.addEventListener("click", async (e) => {
        e.preventDefault();
        // Get the data from the id-'submitButton' of Image, About, Profession, Company, Country, Address, City, State and Pincode
        const nameInput = document.getElementById("nameInput").value;
        const emailInput = document.getElementById("emailInput").value;
        const phoneInput = document.getElementById("phoneInput").value;
        const messageInput = document.getElementById("messageInput").value;
        document.querySelector('.box1').style.display = 'none';
        document.querySelector('.box2').style.display = 'block';
        const formData = {
            name: nameInput,
            email: emailInput,
            phone: phoneInput,
            message: messageInput,
        };
 
        console.log(formData)

        // Post the formData to '/contact' with 'POST' Method using postData functionn
        const response = await postData("/contact", formData);
        console.log(response);
        if (response.status === "success") {
            console.log("Success");
        } else {
            console.log("Failed");
        }
        // Redirect to the url-'profile'


    });

  </script>
{% endblock %}