{% extends 'base.html' %}
{% block title %}
    <title>Settings | BaymexGPT</title>
{% endblock %}
{% block content %}
{% include 'header.html' %}
<!-- component -->
<div class="bg-gray-200 font-sans h-screen w-full flex flex-row justify-center items-center">
    <div class="card w-96 mx-auto bg-white  shadow-xl hover:shadow">
       <img class="w-32 mx-auto rounded-full -mt-20 border-8 border-white" src="{{ url_for('static', filename=('assets/user.png')) }}" alt="">
       <div class="text-center mt-2 text-3xl font-medium">{{ name }}</div>
       <div class="text-center mt-2 font-light text-sm">@{{ username }}</div>
       <div class="text-center font-normal text-lg">{{ city }}, {{ state }}</div>
       <div class="px-6 text-center mt-2 font-light text-sm">
         <p>
           {{ profession }} - {{ company }}
         </p>
       </div>
       <hr class="mt-8">
       <div class="flex p-4">
           <div class="w-1/2 text-center">
             <a href="{{ url_for('main.profile') }}">
           <span class="font-bold">Profile</span>
        </a>
         </div>
         <div class="w-0 border border-gray-300">
           
         </div>
         <div class="w-1/2 text-center">
            <a href="{{ url_for('auth.forgot_password') }}">
           <span class="font-bold">Forgot Password</span>
           </a>
        </div>
       </div>
    </div>
  </div>
{% include 'footer.html' %}
{% endblock %}
