{% extends 'base.html' %}
{% block content %}
<!-- component -->
<div class="py-16 white">  
    <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
        <h2 class="mb-12 text-center text-2xl text-gray-900 font-bold md:text-4xl">What's our customers say</h2>
        <div class="grid gap-8 md:grid-rows-2 lg:grid-cols-2">
          <div class="row-span-2 p-6 border border-gray-100 rounded-xl bg-gray-50 text-center sm:p-8">
            <div class="h-full flex flex-col justify-center space-y-4">
              <img class="w-20 h-20 mx-auto rounded-full" src="https://tailus.io/sources/blocks/grid-cards/preview/images/avatars/second_user.webp" alt="user avatar" height="220" width="220" loading="lazy">
              <p class="text-gray-600 md:text-xl"> <span class="font-serif">"</span> Using this application has been a game-changer for our business. The user experience is simply awesome. It has streamlined our workflows and made our tasks more efficient and capable. The AI-generated images have been a game-changer for our marketing materials. Highly recommended! <span class="font-serif">"</span></p>
              <div>
                  <h6 class="text-lg font-semibold leading-none">Eren Yeager</h6>
                  <span class="text-xs text-gray-500">Product Designer</span>
              </div>
            </div>
          </div>

          <div class="p-6 border border-gray-100 rounded-xl bg-gray-50 sm:flex sm:space-x-8 sm:p-8">
            <img class="w-20 h-20 mx-auto rounded-full" src="https://tailus.io/sources/blocks/grid-cards/preview/images/avatars/first_user.webp" alt="user avatar" height="220" width="220" loading="lazy">
            <div class="space-y-4 mt-4 text-center sm:mt-0 sm:text-left">
              <p class="text-gray-600"> <span class="font-serif">"</span> I've been blown away by the capabilities of this application. The user experience is smooth and intuitive, making it a joy to work with. The efficiency it brings to my content creation process is unmatched. Plus, the image generator is simply awesome. It saves me time and adds a professional touch to my visuals. I can't imagine my workflow without it! <span class="font-serif">"</span></p>
              <div>
                  <h6 class="text-lg font-semibold leading-none">Ken Kaneki</h6>
                  <span class="text-xs text-gray-500">Web Developer</span>
              </div>
            </div>
          </div>
          <div class="p-6 border border-gray-100 rounded-xl bg-gray-50 sm:flex sm:space-x-8 sm:p-8">
            <img class="w-20 h-20 mx-auto rounded-full" src="https://tailus.io/sources/blocks/grid-cards/preview/images/avatars/third_user.webp" alt="user avatar" height="220" width="220" loading="lazy">
            <div class="space-y-4 mt-4 text-center sm:mt-0 sm:text-left">
              <p class="text-gray-600"> <span class="font-serif">"</span> This application has transformed the way I design and create interactive experiences. The user experience it provides is unparalleled. It allows me to design and prototype interactive interfaces seamlessly. The AI-generated images are a fantastic addition, bringing visual appeal and versatility to my projects. It has elevated my work to a whole new level <span class="font-serif">"</span></p>
              <div>
                  <h6 class="text-lg font-semibold leading-none">Light Yagami</h6>
                  <span class="text-xs text-gray-500">Researcher</span>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}